body, html{
    margin:0px;
    background:rgb(255, 255, 255);
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items:center
}

.yellow{
    background-color:yellow;

}
.red{
    background-color:red;
}
.black{
    background-color:black;
}
.blue{
    background-color:skyblue;
}

.white{
    background-color:white;

}

.container{
    background-color:gray;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 50%;

}

.leftSector{
    display: flex;
    height:100%;
    width:33%;
    padding:1%;
    flex-wrap: wrap;
    align-items: flex;
}

.topLeft{
    display:flex;
    width:100%;
    height:10%;
    justify-content:space-between;
    order:1;
}

.hat1{
    width:30%;
    height:100%

}

.hat2{
    width: 68%;
    height:100%;
}

.left2{
    display:flex;
    width:20%;
    height:75%;
    flex-direction: column;
    justify-content: space-between;
    order:2
}

.left21{
    width:100%;
    height:20%
}

.left22{
    width:100%;
    height:39.3%
}

.left3{
    display:flex;
    height:10%;
    width: 60%;
    order:6;

}

.left31{
    height:100%;
    width:100%;
}

.left4{
    display:flex;
    flex-direction: column;
    width: 38.7%;
    height: 40%;
    justify-content: space-between;
    order:4;

}

.left41{
    height:49%;
    width:100%;
}

.left5{
    display:flex;
    height:33%;
    width:73.4%;
    order:3;

}

.left51{
    height:100%;
    width:100%
}

.left6{
    display:flex;
    height:30%;
    width:33%;
    flex-direction:column;
    justify-content: space-between;
    order:5;

}

.left61{
    height:30%;
    width:100%
}

.left7{
    display:flex;
    height:20%;
    width: 33%;
    justify-content:space-between;
    order:7

}

.left71{
    height:100%;
    width:49%
}